# Ignore everything
*

# Except these file types
!*.py
!*.R
!*.conf
!*.sh

# Allow directories to be traversed
!*/

# But still ignore these even if they match above
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.swp
*.swo
*~