# Ignore everything
*

# Except these file types
!*.py
!*.R
!**/config/*.conf
!*.sh

# Allow directories to be traversed
!*/

# But still ignore these even if they match above
**/archive/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
**/.venv/
**/liana-py/Slide_tags/Spatial/fix_trekker/trekker_spatial_confidence
